@font-face {
    src: url("http://enes.in/GillSansTr-LightNr.otf");
    font-family: Gill;
    font-weight: 100;
}
@font-face {
    src: url("http://enes.in/GillSansTr-Normal.otf");
    font-family: Gill;
    font-weight: 300;
}
@font-face {
    src: url("http://enes.in/GillSansTr-Bold.otf");
    font-family: Gill;
    font-weight: 600;
}
@font-face {
    src: url("http://enes.in/GillSansTr-ExtraBold.otf");
    font-family: Gill;
    font-weight: 700;
}
@font-face {
    src: url("http://enes.in/GillSansTr-UltraBold.otf");
    font-family: Gill;
    font-weight: 900;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: #f0f0f0;
}

@media (max-width: 260px) {
    .show-on-sm {
        display: none;
    }

    .show-on-md {
        display: none;
    }

    .show-on-lg {
        display: none;
    }

    .show-on-xs {
        display: block;
    }
}
@media (max-width: 420px) {
    .show-on-xs {
        display: none;
    }

    .show-on-md {
        display: none;
    }

    .show-on-lg {
        display: none;
    }

    .show-on-sm {
        display: block;
    }
}
@media (min-width: 421px) and (max-width: 615px) {
    .show-on-xs {
        display: none;
    }

    .show-on-sm {
        display: none;
    }

    .show-on-lg {
        display: none;
    }

    .show-on-md {
        display: block;
    }
}
@media (min-width: 615px) {
    .show-on-xs {
        display: none;
    }

    .show-on-sm {
        display: none;
    }

    .show-on-md {
        display: none;
    }

    .show-on-lg {
        display: block;
    }
}
@-webkit-keyframes progress {
    0% {
        box-shadow: none;
    }
    25% {
        box-shadow: 2px -2px 0 1px;
    }
    50% {
        box-shadow: 2px -2px 0 1px, 7px -2px 0 1px;
    }
    100% {
        box-shadow: 2px -2px 0 1px, 7px -2px 0 1px, 12px -2px 0 1px;
    }
}
@keyframes progress {
    0% {
        box-shadow: none;
    }
    25% {
        box-shadow: 2px -2px 0 1px;
    }
    50% {
        box-shadow: 2px -2px 0 1px, 7px -2px 0 1px;
    }
    100% {
        box-shadow: 2px -2px 0 1px, 7px -2px 0 1px, 12px -2px 0 1px;
    }
}
.fr {
    float: right;
}

.fl {
    float: left;
}

@media (max-width: 260px) {
    .button {
        padding: 0.25em 0.5em;
        font-size: 0.6em;
    }
    .button:not(:last-of-type) {
        margin-right: 0.15em;
    }
    .button--loading {
        padding-right: 1.5em;
    }
}
@media (min-width: 261px) and (max-width: 420px) {
    .button {
        padding: 0.25em 0.5em 0.15em;
        font-size: 0.75em;
    }
    .button:not(:last-of-type) {
        margin-right: 0.25em;
    }
    .button--loading {
        padding-right: 1.5em;
    }
}
@media (min-width: 421px) and (max-width: 615px) {
    .button {
        padding: 0.5em 0.75em 0.4em;
        font-size: 0.9em;
    }
    .button:not(:last-of-type) {
        margin-right: 0.5em;
    }
    .button--loading {
        padding-right: 1.5em;
    }
}
@media (min-width: 615px) {
    .button {
        padding: 0.75em 1em 0.6em;
        font-size: 1em;
    }
    .button:not(:last-of-type) {
        margin-right: 0.75em;
    }
    .button--loading {
        padding-right: 1.5em;
    }
}
.button {
    border: 1px solid;
    font-weight: normal;
    border-radius: 3px;
    background: none;
    box-shadow: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.button--primary {
    color: #4242d7;
    font-weight: 600;
}
.button--primary:hover,
.button--primary:focus,
.button--primary:active {
    border-color: #4242d7;
    background: #4242d7;
}
.button--primary:focus {
    box-shadow: 0 0 5px #4242d7;
}
.button--secondary {
    color: #d74242;
}
.button--secondary:hover,
.button--secondary:focus,
.button--secondary:active {
    border-color: #d74242;
    background: #d74242;
}
.button--secondary:focus {
    box-shadow: 0 0 5px #d74242;
}
.button--tertiary {
    color: #fff;
    border-color: #2ecc40;
    background: #2ecc40;
}
.button--neutral {
    color: #333;
}
.button--neutral:hover,
.button--neutral:focus,
.button--neutral:active {
    border-color: #333;
    background: #333;
}
.button--neutral:focus {
    box-shadow: 0 0 5px #333;
}
.button--compound {
    border-radius: 0;
    border-right: none;
}
.button--compound-first {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.button--compound-last {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-right: 1px solid;
}
.button--muted {
    pointer-events: none;
}
.button--disabled {
    border-color: #bbb;
    color: #bbb;
    pointer-events: none;
}
.button--loading-text::after {
    display: inline-block;
    width: 1px;
    height: 1px;
    content: "";
    box-shadow: 2px -2px 1px 0;
    -webkit-animation: progress 1s infinite;
    animation: progress 1s infinite;
}
.button:hover,
.button:focus,
.button:active {
    color: #fff;
}
.button:focus {
    outline: none;
}
.button:active {
    box-shadow: inset 0 -2px 10px rgba(0, 0, 0, 0.4);
}

.message {
    font-size: 0.9em;
    padding: 2em;
    margin: 0;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.75);
}
.message--busy {
    background: rgba(0, 0, 255, 0.1);
}
.message--fail {
    background: rgba(255, 0, 0, 0.1);
}

@media (max-width: 260px) {
    .sudoku {
        margin: 0 auto;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .sudoku__header {
        padding-bottom: 0.6em;
    }
    .sudoku__title {
        font-size: 1em;
    }
    .sudoku__table {
        font-size: 0.9em;
        border-top: 2px solid #444;
        border-left: 2px solid #444;
        border-collapse: collapse;
    }
    .sudoku__table-row {
        border-bottom: 1px solid #444;
        border-right: 2px solid #444;
    }
    .sudoku__table-row--separator {
        border-bottom: 2px solid #444;
    }
    .sudoku__table-cell {
        width: 16px;
        height: 16px;
        border-right: 1px solid #444;
    }
    .sudoku__table-cell--separator {
        border-right: 2px solid #444;
    }

    .sudoku {
        max-width: calc(260px / 1.5);
        min-width: calc(260px / 2);
    }
}
@media (min-width: 261px) and (max-width: 420px) {
    .sudoku {
        margin: 0 auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .sudoku__header {
        padding-bottom: 0.9em;
    }
    .sudoku__title {
        font-size: 1.2em;
    }
    .sudoku__table {
        font-size: 1.2em;
        border-top: 3px solid #444;
        border-left: 3px solid #444;
        border-collapse: collapse;
    }
    .sudoku__table-row {
        border-bottom: 1px solid #444;
        border-right: 3px solid #444;
    }
    .sudoku__table-row--separator {
        border-bottom: 3px solid #444;
    }
    .sudoku__table-cell {
        width: 32px;
        height: 32px;
        border-right: 1px solid #444;
    }
    .sudoku__table-cell--separator {
        border-right: 3px solid #444;
    }

    .sudoku {
        width: 260px;
    }
}
@media (min-width: 421px) and (max-width: 615px) {
    .sudoku {
        margin: 0 auto;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .sudoku__header {
        padding-bottom: 1.3em;
    }
    .sudoku__title {
        font-size: 1.5em;
    }
    .sudoku__table {
        font-size: 1.5em;
        border-top: 4px solid #444;
        border-left: 4px solid #444;
        border-collapse: collapse;
    }
    .sudoku__table-row {
        border-bottom: 1px solid #444;
        border-right: 4px solid #444;
    }
    .sudoku__table-row--separator {
        border-bottom: 4px solid #444;
    }
    .sudoku__table-cell {
        width: 48px;
        height: 48px;
        border-right: 1px solid #444;
    }
    .sudoku__table-cell--separator {
        border-right: 4px solid #444;
    }

    .sudoku {
        width: 420px;
    }
}
@media (min-width: 615px) {
    .sudoku {
        margin: 0 auto;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .sudoku__header {
        padding-bottom: 1.618em;
    }
    .sudoku__title {
        font-size: 2em;
    }
    .sudoku__table {
        font-size: 1.75em;
        border-top: 6px solid #444;
        border-left: 6px solid #444;
        border-collapse: collapse;
    }
    .sudoku__table-row {
        border-bottom: 2px solid #444;
        border-right: 6px solid #444;
    }
    .sudoku__table-row--separator {
        border-bottom: 6px solid #444;
    }
    .sudoku__table-cell {
        width: 64px;
        height: 64px;
        border-right: 2px solid #444;
    }
    .sudoku__table-cell--separator {
        border-right: 6px solid #444;
    }

    .sudoku {
        width: 615px;
    }
}
.sudoku {
    color: #444;
}
.sudoku__header {
    font-family: Gill, sans-serif;
}
.sudoku__title {
    font-weight: 600;
}
.sudoku__description {
    max-width: 640px;
    line-height: 1.4;
    font-weight: 100;
}
.sudoku__table {
    background: #fff;
}
.sudoku__table-cell {
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.sudoku__table-cell--editable {
    color: #2020df;
}
.sudoku__table-cell--editable:focus {
    background: rgba(0, 0, 255, 0.1);
    outline: none;
}
.sudoku__table-cell--error {
    color: red;
    background: #fdd;
}
.sudoku__table-cell--editable-error {
    text-shadow: 0 0 15px;
}
.sudoku__table-cell--editable-error:focus {
    color: #eee;
    background: #f45;
}
