body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3d87e4, #7248a4);
    background-size: 200% 200%;
    animation: gradientAnimation 10s infinite alternate;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.start-screen {
    padding: 20px;
    background-color: rgba(255, 240, 240, 0.439);
}

.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 30px);
    margin-top: 50px;
    justify-content: center;
    background: radial-gradient(circle, #f0f0f0 10%, transparent 0);
    background-size: 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cell.uncovered {
    background-color: #b7b2b2;
    pointer-events: none;
}

.cell.mine {
    background-color: rgba(255, 0, 0, 0.893);
    color: #fff;
}

.game-over {
    font-size: 24px;
    color: rgb(33, 24, 60);
    margin-top: 20px;
}

.play-button {
    background-color: #0074e4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.divider {
    width: 100%;
    height: 20px;
    background: linear-gradient(
        90deg,
        transparent 49%,
        #fff 49%,
        #fff 51%,
        transparent 51%
    );
    margin: 20px 0;
}
.mine {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
